html, body {
    min-height: 100vh;
}

body {
    font-size: 12px;
    margin: 10px;
    border: 1px solid #333;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    font-family: 'Yusei Magic', sans-serif;
}

body>header {
    background-image: linear-gradient(to bottom right, #333, #9193a3);
    box-shadow: 6px 6px 6px #0003;
    grid-column: 1 / 3;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .75em 1.5em;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

body>header>h1, body>header>h2 {
    margin: 0;
}

#left-side {
    background-color: lightgray;
    box-shadow: 2px 2px 5px #0003;
    border-right: 1px solid silver;
}

nav p {
    margin-left: 1em;
}

nav ul {
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
}

nav li {
    list-style-type: none;
    padding: .75em 1.25em;
    background-color: #fff8;
}

nav li:not(:last-of-type) {
    margin-bottom: 0.25em;
}

nav li.active {
    border-left: 6px solid darkgoldenrod;
}

.stamp-button {
    transition: filter ease-out 400ms;
    z-index: 10;
}

#stamp-button-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

.stamp-button-outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stamp-button-container>p {
    margin-left: 1em;
}

#stamp-buttons {
    display: grid;
    padding: 0 1.75em;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.75em;
    row-gap: 1.75em;
}

#stamp-buttons img {
    width: 100px;
}

.stamp-button.another-being-dragged {
    filter: grayscale(1) contrast(0.5) brightness(2);
}

#stamps-container {
    position: absolute;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: auto;
}

pre, code {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
}

a:link, a:visited {
    color: darkgoldenrod;
    text-decoration: none;
}

a:hover {
    color: #eda800;
    text-decoration: underline;
}

a:active {
    color: #0b20b8;
}

main>header {
    padding: .75em 1.25rem;
}

main>header>h3 {
    margin: 0;
}

main>pre {
    padding: 1.25rem;
    position: relative;
    z-index: 0;
    white-space: pre-wrap;
}

main>figure>img {
    max-width: 100%;
    outline: 1px solid black;
}

.annotator-hl {
    background-color: rgb(101 0 194 / 34%) !important;
    cursor: help;
}

.hljs-ln-numbers {
    color: #bbb;
}

.hljs-ln-code {
    padding-left: 0.75em !important
}

code {
    transition: all ease-out 200ms;
}

.comment {
    background-color: rgb(101 0 194 / 34%);
    float: right;
    font-weight: normal;
    color: #000;
}

.comment::before {
    content: "<- ";
    display: inline-block;
}

.comment a {
    color: #ff5722;
}

.comment a:hover {
    color: white;
}

.stamp, .stamp-button {
    --border-size: 6px;
    --border-size-neg: calc(var(--border-size) * -1);
    --border-color: white;
    --outer-border-size: 2px;
    --outer-border-size-neg: calc(var(--outer-border-size) * -1);
    --outer-border-color: #d4d4d4;
    filter: drop-shadow(var(--border-size) 0px 0px var(--border-color)) drop-shadow(var(--border-size-neg) 0px 0px var(--border-color)) drop-shadow(0px var(--border-size) 0px var(--border-color)) drop-shadow(0px var(--border-size-neg) 0px var(--border-color)) drop-shadow(var(--outer-border-size) 0px var(--outer-border-size) var(--outer-border-color)) drop-shadow(var(--outer-border-size-neg) 0px var(--outer-border-size) var(--outer-border-color)) drop-shadow(0px var(--outer-border-size) var(--outer-border-size) var(--outer-border-color)) drop-shadow(0px var(--outer-border-size-neg) var(--outer-border-size) var(--outer-border-color));
    touch-action: none;
    box-sizing: border-box;
}

.stamp {
    position: absolute;
    transition: filter ease-out 400ms;
    transform-origin: center center;
}

.stamp-button {
    --border-size: 2px;
    --outer-border-size: 0px;
    --outer-border-color: #000;
}

.stamp.can-drop {
    animation: growing .5s ease-in-out 0s infinite alternate;
}

.drop-target code {
    outline: 4px dashed gray;
    background-color: #efefef !important;
}

#notifications {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.message {
    border: 1px solid darkblue;
    border-radius: 1px;
    background-color: blue;
    box-shadow: 5px 5px 5px #0003;
    color: white;
    transition: all 200ms ease-out;
    padding: 1.5rem;
    opacity: 0;
    transform: translateY(calc(100% + 1rem));
    pointer-events: auto;
}

.message.shown {
    opacity: 1;
    transform: translateY(0);
}

.message.error {
    border-color: darkred;
    background-color: red;
}

.message .close {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    cursor: pointer;
}

.message .close::before {
    content: "✕";
    display: inline-block;
    width: 1em;
    height: 1em;
}

@keyframes growing {
    from {
        scale: 1
    }
    to {
        scale: 1.1
    }
}

@media print {
    body > header {
        position: static;
    }
    #left-side {
        display: none;
    }
    body>header {
        box-shadow: initial;
        border-bottom: 1px solid gray;
    }
    .annotator-hl {
        background-color: rgb(101 0 194 / 34%) !important;
        -webkit-print-color-adjust: exact;
    }
    .comment {
        background-color: rgb(101 0 194 / 34%) !important;
        -webkit-print-color-adjust: exact;
    }
    @page {
        size: landscape;
        margin: 0;
    }
    html, body {
        min-height: initial;
    }
    table {
        page-break-inside: auto
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }
    thead {
        display: table-header-group;
    }
    tfoot {
        display: table-footer-group;
    }
    tr {
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .hide-on-print {
        visibility: hidden;
    }
    #notifications {
        display: none;
    }
}